.button{
  min-width: 15rem;
  max-height: 100%;
  margin-bottom: 2rem;
}

.button:hover {
  background-color: rgb(255, 255, 255); /* Slightly darker background on hover */
  /* color: #ffc107; */
    transition:   background-color 0.3s ease;

  }
  



