.ordersCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin: 0.5rem; 
}

.card {
  flex: 0 0 calc(42% - 4rem); 
  margin: 0.5rem; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem; /* Add padding to create space between the borders and content */
  border: 2px solid #ccc; /* Add a solid border */
  border-radius: 10px; /* Add border radius for rounded corners */
}

.quantityContainer {
  display: flex;
}

.imgContainer {
}

.img {
  max-height: 20rem;
}

@media (max-width: 1000px) {
  .card {
    flex-basis: calc(50% - 4rem); /* Set width to one-half minus margin */
  }
}

@media (max-width: 600px) {
  .card {
    flex-basis: calc(100% - 4rem); /* Set width to full width minus margin */
  }
}
