.container {
  display: flex;
  justify-content: center;
  
}

.item {
  flex-basis: 40%; /* Set a fixed width for each item */
  padding: 1rem; /* Add padding to create space between the borders and content */
  border: 2px solid #ccc; /* Add a solid border */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin: 1rem; /* Add margin to separate items */
  background-image: linear-gradient(to bottom, #ffffffe5, #f6f4e7df 30%, #f7f8f1e1 70%);

}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* Stretch items to match height */
  
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly; /* Adjust button alignment */
}

.fields {
  max-width: 25rem;
}

.fields p {
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .item {
    flex-basis: 100%; /* Change to full width on smaller screens */
  }

  .itemContainer {
    /* flex-direction: column; Stack items vertically on smaller screens */
  }
}
@media (max-width: 426px) {

  .item {
    max-width: 75%;
  }
}
@media (max-width: 376px) {

  .item {
    max-width: 70%;
  }
}

@media (max-width: 321px) {

  .item {
    max-width: 65%;
  }
}
