/* .contactContainer{
  height: 10rem;
} */
.contactContainer{
  margin: 1rem;
  display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workInProgress{
  max-height: 45rem;
  max-width: 80%;

}