.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content {
  max-width: 58rem; /* Adjust as needed */
  padding: 1.25rem; /* Adjust as needed */
  text-align: center;
  background-image: linear-gradient(to bottom, #ffffffe5, #f6f4e7df 30%, #f7f8f1e1 70%);

}

/* Borders */
.content h1,
.content h2 {
  border-bottom: 2px solid #333; /* Add border to headings */
  padding-bottom: 0.5rem; /* Adjust as needed */
  margin-bottom: 1rem; /* Adjust as needed */
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section ul li {
  border-bottom: 1px solid #ddd; /* Add border between list items */
  padding: 0.75rem 0; /* Adjust as needed */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.section ul li:last-child {
  border-bottom: none; /* Remove border from last list item */
}

.section ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.75rem; /* Add padding to the link for better click area */
}

.section ul li:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Slightly darker background on hover */
}


/* Responsive settings */
@media (max-width: 48rem) {
  .content {
    padding: 0.625rem; /* Adjust as needed */
  }
}
