.authContainer{
  margin-top: -3rem;
  min-height: 89vh;
  background-image: url('../../assets/websiteBackgroundImproved.png');
  background-attachment: fixed;
  
  /* Center the background image */
  background-position: center;
  
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  
  /* Scale the background image to be as large as possible */
  background-size: cover;
}

.registerSignin{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1rem;
}

