.ordersCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin: 1rem; 
}

.card {
  flex: 0 0 calc(33.33% - 4rem); 
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  padding: 0.4rem; /* Add padding to create space between the borders and content */
  border: 2px solid #ccc; /* Add a solid border */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin: 1rem; /* Add margin to separate items */
  background-image: linear-gradient(to bottom, #ffffffe5, #f6f4e7df 30%, #f7f8f1e1 70%);
  


}

.quantityContainer {
      display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.button{

  min-height: 95%;
}

.imgContainer {
  border: 2px solid #0000005a;
  background-color: white;
  border-radius: 0.30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 18rem;
}

.img {
  max-height: 15rem;
  
}

@media (max-width: 1000px) {
  .card {
    flex-basis: calc(50% - 4rem); /* Set width to one-half minus margin */
  }
}

@media (max-width: 600px) {
  .card {
    flex-basis: calc(100% - 4rem); /* Set width to full width minus margin */
  }
}
