.img{
  margin: 1rem;
 max-width: auto;
 min-width: 28rem;
 min-height: 28rem;
 max-height: 28rem;
 border: 2px solid #0000005a;
 background-color: white;
 border-radius: 0.30rem;



}

.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: row; /* Display children side by side */
  justify-content: center; /* Center children horizontally */

  
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Add some space between the product info and the button */
}

@media (max-width: 768px) {
  .card {
    flex-direction: column; /* Stack children vertically on smaller screens */
  }
  .imgContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .img{
    max-width: auto;
    min-width: 25rem;
    min-height: 25rem;
    max-height: 25rem;
  }
}
@media (max-width: 425px) {

  .img{
    max-width: auto;
    min-width: 16rem;
    min-height: 16rem;
    max-height: 16rem;
  }
}


.infoContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    min-width: 35rem;
    max-width: 35rem;
}


.imgContainer{

}

.img{

}