.p-4{
  /* margin-left: none;; */
  
}

.container {
  /* margin-left: none !important; */
}

.MDBFooter{
}

.bg-dark{
display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }