.ordersCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 25rem;
  padding: 1rem; /* Add padding to create space between the borders and content */
  border: 2px solid #ccc; /* Add a solid border */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin: 1rem; /* Add margin to separate items */
  background-image: linear-gradient(to bottom, #ffffffe5, #f6f4e7df 30%, #f7f8f1e1 70%);

}

.sectionHeader {
  cursor: pointer;
}

.sectionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease; /* Add transition for height */
}

.sectionContent.expanded {
  max-height: 1000px; /* Adjust as needed */
  transition: max-height 3s ease; /* Add transition for height */
}
